<div class="card p10 cards">
    <h1 class="centerDue">{{songName ? songName : name}}
        <button type="button" class="changeButton" (click)="goToDetails()">Go to file details</button>
    </h1>
    <br class="break">
    <h2 class="center">File Name:</h2>
    <p class="pname2">{{name}}</p>
    <br>
    <h2 class="artistName">Artist Name:</h2>
    <p class="pname">{{artistNamw ? artistNamw : ('Uploaded by '+username)}}</p>
    <br class="break">
    <h2 class="centerTre">Uploaded by:</h2>
    <button type="button" class="uploaded" id="username_button" (click)="sessionUser ? toUserDetails() : redirect()">{{username ? username : 'Not Set'}}</button>
    <app-audio-player-component class="audioPlayer" [id]="id" [link]="link" [name]="name" [file]="blob"></app-audio-player-component>
</div>
