.color{
    color: black;
}
.cards{
    margin-top: 76px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 25px;
    width:498px;

}
.cards:hover{
    box-shadow: 0 0 15px #fff;
}  
.audioPlayer{
    height: 77px;
  width: 496px;
  color: transparent;
  border: 2px solid white;
}
.break{
    color: white;
    font-size: large;
    font-weight: bold;
}
.centerDue{
    font-size: 24px;
    margin-top: 8px;
    margin-left: 5px;
}
.changeButton{
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 287px;
}
.changeButton:hover{
    box-shadow: 0 0 15px #fff;
}
.center{
    margin-left: 142px;
}
.pname2{
    margin-left: 71px;
}
.artistName{
    margin-left: 127px;
}
.pname{
    margin-left: 140px;
}
.centerTre{
    margin-left: 117px;
}
.uploaded{
    margin-left: 190px;
}