.footer{
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    width: 100%;
    background-color: black;
    border: 2px solid white;
    background-attachment: scroll;
    box-shadow: 0 0 15px #fff;
}
.copyright{
    text-align: center;
    color: white;
    font-size: small;
    padding-top: 60px;
    margin-bottom: 114px;
}
.toUsernamePage{
    position: absolute;
    top: 57px;
    left: 29px;
}
.toUserPage{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: small;
    width: 131px;
    height: 30px;
    border-radius: 40px;
    border: 0.5px solid white;
}
.toUsernamePage:hover{
    box-shadow: 0 0 15px #fff;
}
.toAllFilesPage{
    position: absolute;
    top: 57px;
    right: 29px;
}
.toAllFiles{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: small;
    width: 200px;
    height: 30px;
    border-radius: 40px;
    border: 0.5px solid white;
}
.userNotFound{
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 220px;
}
.userNotFoundDue{
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 124px;
}
.fileLenght{
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 172px;
}