<div class="footer">
    <div class="copyright">
        <div class="toUsernamePage">
            @if (!username) {
                <div class="userNotFound">Click on the top button to subscribe</div>
            }
            @if (username) {
                <button class="toUserPage" (click)="toUserPage()">{{username ? (username+"'s profile") : 'Subscribe'}}</button>
            }
        </div>
        <p>© 2024 Popster, Marco Meneghetti. All rights reserved.</p>
        <div class="toAllFilesPage">
            @if (!username) {
                <div class="userNotFoundDue">Welcome to Popster</div>
            }
            @if (pageName=='homepage'&&username) {
                <button class="toAllFiles" (click)="toAllFilesPage()">See all files uploaded by {{username}}</button>
            }
            @if (pageName=='userhomepage'&&username) {
                <div class="fileLenght">User files: {{lenght=='0' ? 'No files uploaded' : lenght}}</div>
            }
        </div>
    </div>
</div>
