
<div class="iHateThisColor">
    <div class="upperContainer">
        <h1 class="h1New">Popster</h1>
    </div>
    <nav class="navbar">
        <button type="button" class="logbutton" (click)="logged ? logOut() : logIn()">{{logged ? "Log out" : "Log in/subscribe"}}</button>
        <button type="button" class="FileUpload" (click)="logged ? fileUpload() : redirect()">Upload a file</button>
        <div class="header">
            <h1 [ngClass]="logged ? 'welcome' : 'subscribe'">{{logged ? ("Welcome back "+name) : ''}}</h1>
        </div>
    </nav>
    <div class="nuovoContainer">
        @if (isLoading) {
            <div class="loading-container">
                <div class="spinner"></div>
                <div class="loading-text">Loading...</div>
            </div>
        }
        <div class="uselessNess">
            <h1 [ngClass]="noFiles ? 'errorHomepage':'hompageUno'">{{noFiles ? 'No file has been uploaded yet' : ''}}</h1>
        </div>
        @if(!noFiles){
            <div class="bigDiv">
                <div class="CardcontainerHm">
                    <div [ngClass]="response!=undefined&&response.length==2 ? 'row twocardsRow' : 'row'">
                        @for (res of response; track res.name) {
                            <div [ngClass]="response!=undefined&&response.length==2 ? 'col-md-6 mb-3' : 'col-md-4 mb-4'">   
                                <app-card [ngClass]="response!=undefined&&response.length==1 ? 'onlyOneCard' : ''" [data]="res"></app-card>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    @if(sometghingEWlse){
        <div Class="somethingElseclass">An error has occured, please contact our administrators</div>
    }
    @if (sometghingEWlse) {
        <button type="button" class="buttonSupport" (click)="toSupport()">Contact support</button>
    }
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>



