
<div class="iHateThisColor">
    <div class="upperContainer">
        <h1 class="h1New">Popster</h1>
    </div>
    <nav class="navbar">
        <button class="logbutton" (click)="logged ? logOut() : logIn()">{{logged ? "Log out" : "Log in/subscribe"}}</button>
        <button class="FileUpload" (click)="logged ? fileUpload() : redirect()">Upload a file</button>
    </nav>
    <div class="header">
        <h1 [ngClass]="logged ? 'welcome' : 'subscribe'">{{logged ? ("Welcome back "+name) : ''}}</h1>
    </div>
    <div class="uselessNess">
        <h1 [ngClass]="noFiles ? 'errorHomepage':'hompageUno'">{{noFiles ? 'No file has been uploaded yet' : ''}}</h1>
    </div>
    <div *ngIf="noFiles==false">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">   
                    <div class="CardGrids" *ngFor="let r of response">
                        <app-card [data]="r"></app-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div Class="somethingElseclass"  *ngIf="sometghingEWlse==true">An error has occured, please contact our administrators</div>
    <button type="button" class="buttonSupport" *ngIf="sometghingEWlse==true" (click)="toSupport()">Contact support</button>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>



