<div class="iHateThisColor">
    <div class="upperContainer">
        <h1 class="h1New">Popster</h1>
    </div>
    <nav class="navbar">
        <button type="button" class="logbutton" (click)="backToHome()">back</button>
        <button type="button" class="FileUpload">See all files uploaded by {{username}}</button>
        <div class="header">
            <h1></h1>
        </div>
    </nav>
    <div class="playerContainer">
        <div class="errorClass" *ngIf="notRecognized==true">Formato file non riconosciuto</div>
            <div class="controls" *ngIf="!noLink && !notRecognized">
                <div class="songDetails" *ngIf="!noLink &&!notRecognized">
                    <div class="fileClass">Original File Name: {{dataName ? dataName : 'Not set'}}</div>
                    <div class="artistClass">Artist: {{dataArtistName ? dataArtistName : 'Not set'}}</div>
                    <div class="songClass">Song: {{dataSongName ? dataSongName : 'Not Set'}}</div>
                    <div class="uploaderClass">Uploaded by: {{dataUserName ? dataUserName : 'Not set'}}</div>
                </div>
                <div *ngIf="!notRecognized" class="player-controls">
                    <button (click)="playAudio()" [disabled]="state.playing">
                        <i class="fa-duotone fa-solid">
                            <fa-icon [icon]="faPlayIcon"></fa-icon>
                        </i>
                    </button>
                    <button (click)="pause()" [disabled]="!state.playing">
                        <i class="fa-solid">
                            <fa-icon [icon]="faPauseIcon"></fa-icon>
                        </i>
                    </button>
                    <button (click)="stop()">
                        <i class="fa-solid">
                            <fa-icon [icon]="faStopIcon"></fa-icon>
                        </i>
                    </button>
                    <button (click)="mute()" *ngIf="!state.mute">
                        <i class="fa-solid">
                            <fa-icon [icon]="faVolumeMuteIcon"></fa-icon>
                        </i>
                    </button>
                    <button (click)="unmute()" *ngIf="state.mute">
                        <i class="fa-solid">
                            <fa-icon [icon]="faVolumeUpIcon"></fa-icon>
                        </i>
                    </button>
                </div>
    
                <div class="progress" *ngIf="state">
                <input type="range" 
                    [value]="state.currentTime || 0" 
                    [max]="state.duration || 100"
                    (change)="onSliderChangeEnd($event)">
                <span>{{(state.currentTime || 0) | date:'mm:ss'}} / {{(state.duration || 0) | date:'mm:ss'}}</span>
            </div>
        </div>
    </div>
</div>
