<div class="container">
    <div class="header">
        <p class="pheader">Popster</p>
    </div>
    <div class="nav">
    </div>
    <div class="body">
        <div class="uploadContainer">
            <h1 class="instructions">You're seeing this page because you're not logged in!</h1>
            <p class="instructions2">Please login here.</p>
            <button class="ToUser" (click)="gotologin()">Log in</button>
            <p class="newInstructions">Or else go back to the homepage</p>
            <button class="button" (click)="back()">Homepage</button>
        </div>
    </div>
</div>
