.containerUpload{
    height: 100%;
    width: 100% !important;
    background-color: black;
    color: white;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    position: fixed;
}
.header{
    background-color: yellow;
    width: 100%;
    text-align: center;
    color: black;
    font-size: large;
    font-weight: bold;
    border: 1px white solid;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}
.pheader{
    font-size: 35px;
}
.navUpload{
    width:100%;
    height: 60px;
    position: absolute;
    left: -1px;
    right: 0px;
    top: 70px;
    background-color: transparent;
    border: 0.5px solid white;
    box-shadow: 0 0 15px #fff
}
.button{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 15px;
    left: 30px;
    width: 131px;
    height: 30px;
    border-radius: 40px;
    border: 0.5px solid white;
}
.button:hover{
    box-shadow: 0 0 15px #fff;
}
.ToUser{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 15px;
    left: 1630px;
    width: 268px;
    height: 30px;
    border-radius: 40px;
    border: 0.5px solid white;
}
.ToUser:hover{
    box-shadow: 0 0 15px #fff;

}
.instructions{
    top:17px;
    left: 861px;
    background-color: transparent;
    color: white;
    width: 249px;
    font-weight: bold;
    position: absolute;
}
.centerUplload{
    top:243px;
    left: 844px;
    text-align: center;
    background-color: transparent;
    color: white;
    width: 238px;
    font-weight: bold;
    position: absolute;
}
#upload{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 397px;
    left: 842px;
    width: 242px;
    height: 30px;
    border-radius: 40px;
    border: 0.5px solid white;
}
.uploadDue{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 397px;
    left: 842px;
    width: 242px;
    height: 30px;
    border-radius: 40px;
    border: 0.5px solid white;
    overflow: hidden;
    display: none;
}
.upload{
    width: 200px;
    background-color: transparent;
    top: 414px;
    left: 853px;
    display: inline-block;
    position: absolute;
    border-radius: 25px;
}
.span{
    width: 200px;
    background-color: transparent;
    top: 414px;
    left: 861px;
    display: inline-block;
    position: absolute;
    border-radius: 25px;
}

input[type=file]::file-selector-button{
    width: 200px;
    background-color: transparent;
    display: inline-block;
    border-radius: 25px;
    height: 30px;
    color: white;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    font-weight: bold;    
    border: 2px solid white;

}

.inputFull{
    border: 2px solid white;
    border-radius: 25px;
    height: 34px;
    position: absolute;
    left: -33px;
    top: 111px;
}
.submitButton{
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: small;
    position: absolute;
    top: 161px;
    left: 41px;
    width: 131px;
    height: 30px;
    border-radius: 40px;
    border: 0.5px solid white;
}
.submitButton:hover{
    box-shadow: 0 0 15px #fff;
}
.deleteupload{
    margin-left: 334px;
  background-color: transparent;
  color: white;
  border-color: black;
}
.reset{
    margin-left: -82px;
    margin-top: 2px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 47px;
    height: 34px;
    border-radius: 25px;      
}
.reset:hover{
    background-color: white;
    color: black;
}
.artist_name{
    margin-top: -103px;
    color: white;
    font-weight: bold;
    margin-left: 51px;
}
.input_artist{
    margin-top: -103px;
    margin-left: 3px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 200px;
    height: 34px;
    border-radius: 25px;  
}
.song_name{
    margin-top: 11px;
    color: white;
    font-weight: bold;
    margin-left: 51px;
}
.input_song{
    margin-top: 2px;
    margin-left: 3px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width: 200px;
    height: 34px;
    border-radius: 25px;  
    position: absolute;
}
.uploadTheFile{
    margin-top: 69px;
    color: white;
    font-weight: bold;
    margin-left: -46px;
    width: 399px;
}
@media (max-width: 1536px){
    .centerUplload{
        left: 650px;
    }
    .instructions{
        left: 667px;
    }
    .artist_name{
        margin-left: -140px;
    }
    .input_artist{
        margin-left: -192px;
    }
    .song_name{
        margin-left: -138px;
    }

}

