<div class="support-component">
    <div class="upperContainer">
        <h1 class="h1New">Popster</h1>
    </div>
    <form class="support-form" #supportForm="ngForm" (ngSubmit)="onSubitSupport(supportForm)">
        <h1 class="initialTitle">Contact the support here.</h1>
        <p class="centerP">Name:</p>
        <input class="inputFirst" type="text" placeholder="Enter your name" name="name" ngModel/>
        <p class="pdue">Email:</p>
        <input class="secondInput" type="text" placeholder="Enter your Email" name="userName" ngModel/>
        <p class="PThree">Enter here the error you get:</p>
        <textarea class="ThirdInput" rows="10" placeholder="Enter the error" name="error" ngModel></textarea>
        <p class="documentP">Upload any follow documents:</p>
        <input class="documentInput" type="file" placeholder="Upload any document" (change)="fileHandler($event)"/>
        <button type="submit" class="submit-button">Submit</button>
    </form>
</div>
