.upperContainer{
    background-color: yellow;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    font-size: large;
    font-weight: bold;
    border: 1px white solid;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}
.successfully{
    background-color: black;
    height: 100vh;
    width: 100%;
    position: absolute;
    color: white;
}
.success{
    top:154px;
    left: 862px;
    background-color: transparent;
    color: white;
    width: 192px;
    border-radius: 40px;
    position: absolute;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
    height: 50px;
}
.success:hover{
    box-shadow: 0 0 15px #fff;
}
.bodyText{
    color: white;
    background-color: transparent;
    font-size: large;
    height: 106px;
    width: 1026px;
    margin-top: 174px;
    margin-left: 449px;
    font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
.largerP{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}